.image {
  border-radius: 5px;
}

.ingredient {
  margin-bottom: 5px;
}

input[type="text"].ng-invalid.ng-touched,
input[type="number"].ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  box-shadow: inset 0 1px 1px rgba(255,0,0,.075), 0 0 8px rgba(255,0,0,.8)
}